---
layout: default
title: "Research"
---

<div id="home">
  <h2><i class="icon-beaker"></i> Arduino Libraries</h2>
  <ul id="development" class="posts">
    {% for post in site.categories.arduino %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  
  <h2><i class="icon-beaker"></i> Python</h2>
  <ul id="development" class="posts">
    {% for post in site.categories.python %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  
  <h2><i class="icon-beaker"></i> LaTeX</h2>
  <ul id="development" class="posts">
    {% for post in site.categories.latex %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  
    <h2><i class="icon-beaker"></i> Embedded Systems</h2>
  <ul id="development" class="posts">
    {% for post in site.categories.embedded %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

