---
layout: default
title: Blog Posts
---

<div id="home">
<p>
Hello!
</p>
<p>
I am Jeroen Doggen, embedded software and hardware engineer at the Austrian company CDE GmbH.

</p>
I have developed several tools and libraries to make it easier for other people (including my former students at Artesis Plantijn University College Anwerp) to develop prototypes with the Arduino platform.
</p>
<p>
From time to time, the "scratching you own itch" effect kicks in. This usually results in the development of some small Python applications.
</p>
<p>
I try to share most of my code under open source licenses: MIT, L-GPL or GPL, depending on the application area.
</p>
<p>
The goal of this website is maintaining an overview of my public projects.
</p>

<p>
- Jeroen
</p>
</div>
