---
layout: default
title: "Research"
---

<div id="home">
<p>
Other resources: <a href="http://scholar.google.com.br/citations?user=Co_vL8AAAAAJ">Google Scholar</a>, <a href="http://www.mendeley.com/profiles/jeroen-doggen/">Mendeley</a>
</p>

  <h2><i class="icon-book"></i> Conference Papers</h2>
  <ul id="conference" class="posts">
    {% for post in site.categories.conference %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h2><i class="icon-book"></i> Book Chapters</h2>
  <ul id="books" class="posts">
    {% for post in site.categories.books %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

