---
layout: default
title: "Invited Talks"
---

<div id="home">
  <h2><i class="icon-bullhorn"></i> Classes</h2>
  <ul id="talks" class="posts">
    {% for post in site.categories.classes %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h2><i class="icon-bullhorn"></i> Talks</h2>
  <ul id="talks" class="posts">
    {% for post in site.categories.talks %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h2><i class="icon-bullhorn"></i> Meetings</h2>
  <ul id="talks" class="posts">
    {% for post in site.categories.meetings %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

