<div class="disclaimer">
  {% if site.theme.show_disclaimer %}
  <p>
    The postings on this site are my own and don't necessarily represent my 
    employer's positions, strategies or opinions.
  </p>
  {% endif %}

  <p>
    © {{ site.theme.name }}, 2008-2014 &mdash; built with Jekyll using Lagom theme
  </p>
</div>