<nav>
   <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <h2><a href="/">{{ site.theme.name }}</a>.</h2>
  <hr/>
  <ul>
  <p>Lecturer, embedded developer, researcher</p>
  <li><a href="/about.html">About</a></li>
  <li><a href="/development.html">Development</a></li>
  <li><a href="/research.html">Research</a></li>
  <li><a href="/teaching.html">Teaching</a></li>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>